.inputCards {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 15px;
  font-size: 20px !important;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: var(--color-white);
}

.placeOrderButton {
  width: 90%;
  position: absolute;
  left: 109.5%;
  top: 175%;
  z-index: 1;
  border-radius: 0px !important;
  background-color: var(--color-green) !important;
  span {
    color: var(--color-white) !important;
    font-size: 1.2rem !important;
  }
  &:hover {
    background-color: var(--color-green-hover) !important;
  }
  @media screen and (max-width: 768px) {
    top: 330%;
    transform: translateX(-116%);
  }
}

.placeOrderButtonSave {
  width: 90%;
  position: absolute;
  left: 109.5%;
  top: 105%;
  z-index: 1;
  border-radius: 0px !important;
  background-color: var(--color-green) !important;
  span {
    color: var(--color-white) !important;
    font-size: 1.2rem !important;
  }
  &:hover {
    background-color: var(--color-green-hover) !important;
  }

  @media screen and (max-width: 768px) {
    top: 263%;
    transform: translateX(-116%);
  }
}

.placeOrderButtonError {
  width: 90%;
  position: absolute;
  left: 109.5%;
  top: 95%;
  z-index: 1;
  border-radius: 0px !important;
  background-color:  var(--color-green) !important;
  span {
    color: var(--color-white) !important;
    font-size: 1.2rem !important;
  }
  &:hover {
    background-color: var(--color-green-hover) !important;
  }

  @media screen and (max-width: 768px) {
    top: 263%;
    transform: translateX(-116%);
  }
}
