@import "./variables";
@import "./colors";
@import "./fonts";
@import "./remixicon";
@import "./helpers";
@import "./breakpoints";
@import "./base";
@import "./mixins";
@import "./spacing";
@import "~bootstrap/scss/bootstrap";

html {
  @include breakpoint (sm) {
    font-size: 13px;
  }
}

p {
  margin-bottom: 0;
}

.hr {
  height: 1px;
  width: 100%;
}

.btn-sm {
  padding: 10px 20px !important;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  width: fit-content;
}

.btn {
  font-family: var(--font-medium) !important;
  padding: 10px 20px !important;
}

.btn-lg {
  padding: 16px 24px !important;
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-semi-bold) !important;
}

.btn-primary {
  border: none;
  &:hover {
    background-color: var(--color-mint-hover) !important;
  }
}

.btn-secondary {
  border: none;
  &:hover {
    background-color: var(--color-aqua-hover) !important;
  }
}