@import "./variables";
@import "./colors";
@import "./fonts";
@import "./remixicon";
@import "./helpers";
@import "./breakpoints";
@import "./base";
@import "./mixins";
@import "./spacing";
@import "~bootstrap/scss/bootstrap";

html {
  @include breakpoint (sm) {
    font-size: 13px;
  }
}

p {
  margin-bottom: 0;
}

.hr {
  height: 1px;
  width: 100%;
}

.btn-sm {
  padding: 10px 20px !important;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  width: fit-content;
}

.btn {
  font-family: var(--font-medium) !important;
  padding: 10px 20px !important;
}

.btn-lg {
  padding: 16px 24px !important;
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-semi-bold) !important;
}

.btn-primary {
  border: none;
  &:hover {
    background-color: var(--color-mint-hover) !important;
  }
}

.btn-secondary {
  border: none;
  &:hover {
    background-color: var(--color-aqua-hover) !important;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.mb-12 {
  margin-bottom: 120px !important;
}

.pt-7 {
  padding-top: 7rem;
}

.z-index-0 {
  z-index: 0 !important;
}

.z-index-1 {
  z-index: 1 !important;
}

.bottom-negative {
  bottom: -600px;
}

.inspiration-title {
  padding-top: 140px;
}

.players-title {
  padding-top: 140px;
  padding-bottom: 140px;
}