.paymentsIcon {
  width: 100%;
  height: 100%;
  display: flex;
  svg {
    margin-left: 10px;
    margin-top: 2px;
  }
}

.deliveryContainer {
  border-radius: 0;
  padding: 15px;
  span {
    line-height: 0px !important;
    font-size: 14px;
    font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: var(--color-shadowMask);
  }
}

.paymentContainer {
  border-radius: 0;
  padding: 15px;
  span {
    line-height: 0px !important;
    font-size: 0.8rem;
    color: var(--color-shadowMask);
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.totalContainer {
  border-radius: 0;
  padding: 15px;
  font-weight: normal !important;
  height: 110%;
  padding-bottom: 20px;
  p {
    font-weight: 600;
    margin-bottom: 5px;
    font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
  span {
    font-weight: normal !important;
    font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 0.8rem;
    color: var(--color-shadowMaskDark);
  }
}
.cards {
  max-width: 50px !important;
}

.collapseButton {
  position: absolute;
  top: 18px;
  right: 18px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 5px;
  height: 5px;
  background-color: var(--color-white) !important;
  border-radius: 100%;
  border-color: var(--color-white) !important;
  i {
    color: var(--color-black) !important;
  }
  &:hover {
    background-color: var(--color-white) !important;
  }
  &:active {
    background-color: var(--color-white) !important;
  }
  &:focus {
    background-color: var(--color-white) !important;
    box-shadow: none !important;
    border-color: var(--color-white) !important;
  }
}

.totalContainerExpand {
  border-radius: 0;
  padding: 15px;
  font-weight: normal !important;
  height: auto;
  padding-bottom: 20px;
  p {
    font-weight: 600;
    margin-bottom: 5px;
    font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
  span {
    font-weight: normal !important;
    font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 0.8rem;
    color: var(--color-shadowMaskDark);
  }
}

.checkbox {
  display: flex;
  align-items: center;
}

.paymentsInfo {
  display: flex;
  padding: 15px 20px;
  background-color: var(--color-blue-hover);
  margin-top: 10px;
}

.paymentsAddCardContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-secondary-gray);
  padding: 10px 0;
  * {
    margin-top: 10px;
    margin-right: 20px;
  }
  i {
    font-size: 1.4rem;
  }
  span {
    line-height: 15px !important;
    font-size: 0.8rem;
    font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: var(--color-blue);
    cursor: pointer;
  }
}

.totalPayment {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  span {
    font-weight: 600 !important;
    line-height: 20px !important;
    font-size: 20px;
    color: var(--color-shadowMaskDark) !important;
  }
}

.link {
  color: var(--color-blue) !important;
  cursor: pointer !important;
  font-size: 16px !important;
}

.addCardButton {
  margin: 0px !important;
  padding: 0px !important;
  background: var(--color-white);
  &:hover {
    background: var(--color-white) !important;
  }
  &:focus {
    outline: none !important;
    background: var(--color-white) !important;
    border-color: var(--color-white) !important;
    box-shadow: none !important;
  }
  &:active {
    background: var(--color-white) !important;
  }
}